.bg-color {
  background-color: rgb(255, 241, 241);
}

.theme-color {
  color: rgba(219, 89, 71, 255);
}

.grey-color{
    color: rgba(83,84,86,255)
}

.button-color {
  background-color: rgba(219, 89, 71, 255);
  border-color: rgba(219, 89, 71, 255);
  color: white;
}
