section {
  background-color: rgba(250, 250, 250, 255);
}

th {
  color: rgb(137, 135, 135) !important;
  font-weight: 500;
}

td {
  color: rgba(34, 34, 34, 255);
}

.table-condensed {
  vertical-align: middle;
  font-size: 12px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  --bs-table-bg-state: rgb(255, 242, 242) !important;
}

tr.selected {
  background-color: rgb(255, 242, 242) !important;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.theme-color {
  background-color: rgba(219, 89, 71, 255);
  border-color: rgba(219, 89, 71, 255);
  color: white;
}

.icon-button {
  border-color: gray;
  padding-left: 0.4vw !important;
  padding-right: 0.4vw !important;
  padding-top: 0vw !important;
  padding-bottom: 0vw !important;
}

.black-color {
  color: black;
}

.smaller {
  font-size: smaller;
}

.login-toast {
  background-color: rgba(92, 184, 92, 255);
  width: 250px !important;
}

.info-icon-color {
  color: rgba(20, 148, 213, 255);
}
